/******************    breadcrumb    *********************/
.cat_title{
  border-top: 7px solid #f03;
  padding-left: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
  .cat_title .breadcrumb {
    margin:0px;
    padding:0px;
    padding-right:16px;
    padding-left:16px;
    list-style: none;
    background-color: #fff;
    width:100%;
  }
    .cat_title ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: ">\00a0";
    }
    .cat_title ul.breadcrumb li:last-child{
      font-size: 1.2rem;
      color: #f03;
    }