/******************    breadcrumb    *********************/
.cat_title{
  border-top: 10px solid #f03;
  padding-left: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
  .cat_title .breadcrumb {
    margin:0px;
    padding:0px;
    padding-right:16px;
    padding-left:16px;
    list-style: none;
    background-color: #fff;
    width:100%;
  }
    .cat_title ul.breadcrumb li+li:before {
      padding: 8px;
      color: black;
      content: ">\00a0";
    }
    .cat_title ul.breadcrumb li:last-child{
      font-size: 1.2rem;
      color: #f03;
    }

/******************    image    *********************/
.item div.img-zoom{
  padding:15px;
  width:100%;
  height:100%;
}
  .item div.img-zoom img{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.3);
  }
  
.item div.item-details{
  padding:15px;
}
  .item div.item-details .item-title{
    padding-left:10px;
    background-color: rgba( 255, 0, 51, 0.1);
    font-size: 2.2rem;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
  .item div.item-details .item-tag{
    padding:10px;
    padding-right:0px;
  overflow:auto;}
  .item div.item-details .item-price{
    padding:10px;
    padding-left:0px;
    color: #f03;
    font-size: 2.2rem;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .item div.item-details .quantity{
    padding:10px;
    padding-left:0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .item div.item-details .item-description{
    padding:10px;
    padding-left:0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .item div.item-details .item-action{
    padding-left:0px;
  }
  .item div.item-details .add_cart{
    background-color: #707;
    border: 1px solid #707;
    margin:10px;
    margin-left:0px;
  }




















