/******************    general settings    *******************************/
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&subset=cyrillic,japanese');
body {
  font-family: 'Kosugi Maru', sans-serif;
  padding-top: 110px;
  }

	  
/******************    header    *******************************/
.header{
  position: absolute;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;}
	  
	.header .user_header {
	  background: #f0f0f0;
	  height: 30px;
    display: flex;
	  line-height: 15px; }
		.header .user_header #cat_list{
      padding:0px;
      padding-left:15px;
      width: 75%;}
		.header .user_header #user_list{
      width: 25%;}
		.header .user_header li {
		  margin-bottom: 0px;
		  padding: 7px 0; 
		  display: inline-block; }
			.header .user_header li:last-child a {
			  font-size: 15px;
			  color: #707;
			  display: inline-block;
			  padding: 0px 19px; 
			  border-right: 0px;}
			.header .user_header li a {
			  font-size: 15px;
			  color: #707;
			  display: inline-block;
			  border-right: 1px solid rgba(175, 175, 175, 0.3);
			  padding: 0px 19px; }
			.header .user_header li:hover a {
			  text-decoration: none;
			  color: #f0f; }
	  
	.header .main_header {
	  background: #707;
	  height: 80px;
	  line-height: 16px; }	
    .header .main_header nav{
      padding:0px;}	
    .header .main_header .row{
      width:100%;}	
      .header .main_header nav a{
        padding:0px;}		
        .header .main_header nav a .logo{
          height: 80px; min-width: 80px; margin-left: 15px;}	
      .header .main_header nav .search_container {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
        font-size: 17px;
        display: flex;
        border: none;}
        .header .main_header nav .search_container .search_pt1{
          height: 100%;
          width:90%;
        }
        .header .main_header nav .search_container .search_pt2{
          height: 100%;
          width:10%;
        }
          .header .main_header nav .search_container input{
            padding-left:5px;
            height: 90%;
            width: 100%;
            font-size: 25px;
            border-radius:10px 0 0 10px;
            border: none;}
          .header .main_header nav .search_container button {
            height: 90%;
            width: 100%;
            font-size:20px;
            padding:0px;
            background: #0a0;
            color:#fff;
            border:0px;
            border-radius:0 10px 10px 0;
            cursor: pointer;}
            
 
/******************    expand cart    *******************************/     
.expand_menu{
  position: absolute;
  right:0;
  top: 30px;
  border: 10px solid #707;
  padding:0px;
  border-radius: 25px 25px 25px 0;
  background-color: #fff;
  z-index: 160;
}
  .expand_menu #content {
    height:100%;
  }
    .expand_menu #content ul{
      margin:0px;
      padding-bottom:15px;
      padding-left:0;
      height:100%;
      color: #000;
    }
      .expand_menu #content ul li{
        padding-left:20px;
        padding-right:20px;
        font-size:20px;
        list-style-type: none;
      }
      .expand_menu #content ul li:hover{
        background-color: #707;
        color: #fff;
      }

/******************    menu    *******************************/     
.categories{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 10px solid #707;
  padding:0px;
  border-radius: 25px;
}
  .categories .cat_title{
    text-align:center;
    width: 100%;
    background-color: #707;
  }  
  .categories .cat_title h2{
    color: #fff;
  }
  .categories ul{
    margin-top:25px;
    padding: 0px;
    text-align: center;
    height: 100%;
  }
  .categories li{
    font-size:20px;
		list-style-type: none;
    height:14%;
  }
  .categories li:hover{
    font-size:30px;
    color: #fff;
    background: #707;
    border: 5px solid #707; 
  }
 
/******************    carousel    *******************************/     
.carousel{
  margin-top: 10px;
  margin-bottom: 10px;
}


/******************    today's deal    *******************************/    
.best_deal{
  border-style: solid;
  border-width: 10px;
  border-color: rgba(119, 0, 119, 1);
  margin: 10px;
  width:100%;
  height:auto;
  overflow: hidden;
}
  .best_deal .title{
    border-bottom:5px dashed rgba(119, 0, 119, 1);
    margin: 10px;
    width:100%;
    height:auto;
  }
    .best_deal .title a{
      text-decoration: none;
      text-align: right;
      background-color:#707;
      border: 0px;
    }
    .best_deal .title a:hover{
      background-color:#f0f;
    }
  .best_deal .row .owl-carousel .item{
	  line-height: 15px;     
  }
    .best_deal .row .owl-carousel .item img{
      width: 160px;
      height: 160px;
      display: block;
      z-index: 0;
    }
    .best_deal .row .owl-carousel .item .item_title{
      margin-top:5px;
      font-size: 20px;
    }
    .best_deal .row .owl-carousel .item a{
      margin-top:5px;
    }
    .best_deal .row .owl-carousel .item .item_price{
      color:#F00;
      font-size: 15px;
    }



/******************    best seller    *******************************/    
.best_sellers{
  border-style: solid;
  border-width: 10px;
  border-color: rgba(255, 255, 0, 1);
  margin: 10px;
  width:100%;
  height:auto;
  overflow: hidden;
}
  .best_sellers .title{
    border-bottom:5px double rgba(255, 255, 0, 1);
    margin: 10px;
    width:100%;
    height:auto;
  }
  .best_sellers .row .table{
    margin-left: 20px;
    width:100%;
    padding:0;
    list-style:none;
    overflow:auto;
  }
  .best_sellers .table li{
    float:left;
    border:1px solid #CCC;
  }
  .best_sellers .table button{
    padding: 0;
    border: none;
    background: none;
  }
  .best_sellers .table img{
    width:180px;
    height:180px;
  }

/******************    modal    *******************************/
.modal{
  z-index:1600;
}
.modal .modal-dialog .modal-content .modal-body img{
  width:100%;
  height:100%;
}
.modal .modal-dialog .modal-content .modal-body .title{
  border-bottom: 3px dashed;
}
  .modal .modal-dialog .modal-content .modal-body .title h2{
    color: #00f;
  }
.modal .modal-dialog .modal-content .modal-body button{
  font-size: #12px;
}



/******************    footer    *******************************/    
footer{
  display:block;
  background:#f0f0f0;
  position: absolute;
  width: 100%;
  padding: 10px;
}
  footer p{
    text-align: center;
    margin:0px;
  }
  footer .p2{
    font-size: 10px;
  }










